*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

video{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(5px);
    padding-inline: 30px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;

}

nav ul li{
    list-style: none;
    cursor: pointer;
    padding: 8px 18px;
    border-radius: 25px;
}

nav ul li:hover{
 background-color: red;
 color: white;
 
}

aside{
    width: 450px;
    height: 450px;
    position: absolute;
    left: 5%;
    top: 40%;
}

aside h1{
    font-size: 50px;
    line-height: 1.3;
}

button{
    padding: 8px 15px;
    border-radius: 25px;
    outline: none;
    color: white;
    border: none;
    margin-top: 8px;
    cursor: pointer;
}

.signUp{
    background-color: gold;
    margin-right: 10px;
}

.LogIn{
    background-color: crimson;
}

button{
    
}